// Colors
$theme_blue: #0054a4;
$theme_red: #f15b4f;
$theme_green: #6fbd2a;

// Fonts
$font-lobster: 'Lobster', sans-serif;
$font-openSans: 'OpenSans', sans-serif;
$font-galanoGrotesque: 'GalanoGrotesque', sans-serif;
