h4 {
    margin: 10px 0;
    font-size: 24px;
    text-align: center;
}

h3 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    border: #bbbbbb 1px solid;
    margin: 10px 0;
}

.item {
    display: flex;
    justify-content: left;
    margin-top: 20px;
}

.item:nth-of-type(even){
    flex-direction: row-reverse;
}

.items-photo {
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 20px;
}

.item-info p {
    text-align: justify;
    text-indent: 25px;
}

.wrapper-shrinked {
    margin: 0 auto;
    max-width: 800px;
}

